.Footer{
  font-size: 15px;
  background-color:  #90c546;
  display: grid;
  font-family: sans-serif;
  grid-template-columns: 700px;
  grid-row: 140px;
  grid-template-areas:
  "Contato Endereço";
}

h1{
  padding: 5px;
}

#Ajuste2>div{
  grid-area: Endereço;
  background-color: #90c546;
}

#Ajuste>div{
  grid-area: Contato;
  margin-left: 20px;
  background-color: #90c546;
}