.Container{
    display: flex;
    background-color: #90c546;
    border-radius: 3px 3px 12px;
    align-items: baseline;

}

.navbar{
    background-color: aqua;
}

.color{ 
    background-color: #90c546;
}

#basic-nav-dropdown{
    margin-right: 250px;
}